.filter-pan
{
    border:2px solid #007cc3;
    margin-bottom: 10px;
}
.filter-pan .panel
{
    border: none;
    box-shadow:none;
    margin: 0;
}

.filter-pan .panel-heading
{
    border: none;
    background: none;
}
.filter-pan .panel-title
{
    text-align: left;
    font-weight: 700;
    font-size: 17px;
    direction: none;
}
.filter-pan .panel-body
{
    text-align: left;
    
    padding-top: 0;
}
.filter-pan .panel-body input[type='checkbox']
{
   margin-right:10px; 

}
.filter-pan .category
{
    background-color: #ecebe6;
    border: 2px solid #ecebe6;
    padding:5px;
    margin:1px;
}
.filter-pan .sub-category
{
    background-color: #ecebe6;
    border: 2px solid #ecebe6;
    padding-left:5px;
}