.search
{
    border:2px solid #007cc3;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;


  }
  .search .search-button{
    margin-top:20px;
    width: 196px;
    height: 45px;
    background: inherit;
    background-color: inherit;
    background-color: rgba(19, 127, 194, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PTSans-Bold', 'PT Sans Bold', 'PT Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    bottom: -65px;
    display: inline-block;
    padding: 10px;
    text-align: center;
  }
  .search .search-button:hover{
    color:rgba(19, 127, 194, 1);
    background-color: #fff;
    border:2px solid rgba(19, 127, 194, 1);
    text-decoration: none;
  }
.search .css-1aya2g8
{
  border-radius: 0;

}
.search .css-2o5izw:hover,.search .css-2o5izw:active,.search .css-2o5izw:focus
{
  border-radius: 0;
  border-color: hsl(0,0%,80%);
  box-shadow: none;
  
}