.search-input
{
    padding : 10px;
}
.search-input label
{
    text-align: left;
    font-weight: 700;
    font-size: 17px;
}
.search-input .input-pan
{
    background-color: rgba(255, 255, 255, 0);
box-sizing: border-box;
border-width: 1px;
border-style: solid;
border-color: rgba(204, 204, 204, 1);

position: relative;
}
.search-input .input-pan input
{
    padding :10px 5px;
    border:none;
    width: 100%;
   padding-right: 35px;
}
.search-input .input-pan button 
{
    border:none;
    background-color: transparent;
    color:#666;
    position: absolute;
    right:0;
    top:5px;
    font-size:20px
}