.excursion
{
    background: #FFF;
    margin-bottom: 20px;
    position: relative;
    border: 2px solid #d0e2ec;
}
.excursion img
{
    width:250px;
    max-height: 275px;
}

.excursion .head
{
    text-align: left;    
    background: #e5f2f9;
    border-bottom: 2px solid #d0e2ec;
    padding: 6px;
}
.excursion h3
{
    font-weight: 700;
    margin: 0;
    
}
.excursion label
{
    font-weight: 400;
    
}
.excursion table
{
    widows: 100%;
    margin:10px;
    text-align: left;
    
}
.excursion .image 
{
    width: 250px;
    float: left;
    position: relative;
}
.excursion .details 
{
    float: left;
}