.header
{
    overflow-y: hidden;
background-color: rgba(243, 111, 33, 1);
padding: 20px;
margin-bottom: 10px;
}
.header img{
    width: 147px;
height: 67px;
}
.footer
{
    background-color: rgba(242, 242, 242, 1);
    height: 400px;
    border-top:3px solid #ccc; 
}